.DS_Store
.dart_tool/
.packages
.pub/
build/
pubspec.lock

# Build artifacts
bin/hugind
dist/
*.tar.gz
target/
**/*.rs.bk
*.pdb

# Runtime data
sessions/

# Dependencies
*.dylib

# Ubuntu packaging
ubuntu/
!ubuntu/build_snap.sh
!ubuntu/snap/
!ubuntu/snap/**

node_modules
package-lock.json
*.wasm
